h1 {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: xx-large;
  color: #3399FF;
}

h4 {
  font-family: "Franklin Gothic Medium", sans-serif;
  color: #3399FF;
}

.line-break {
  width: 100%;
  height: 1px;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #333333;
}